.container {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 8rem;
  height: auto;
  margin-bottom: 1rem;
}

.cta {
  color: #131f60;
}

@media (min-width: 768px) {
  .container nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 0rem;
  }
}
