.container {
  padding: 1rem;
}

.container ul li a {
  color: var(--navy_blue);
}

.container ul li {
  padding: 0.25rem;
}

.container ul {
  margin-bottom: 1.5rem;
}

.logo {
  display: flex;
}

.logo img {
  width: 8rem;
  height: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 10rem;
  }
}
