.container {
  display: none;
}

.login {
  color: var(--black);
  margin-right: 1rem;
  font-weight: 700;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 48px;
  padding: 0px 1rem;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--black);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
  }
}
