.container {
  padding: 20px;
  border-radius: 20px;
}

.container img {
  margin-bottom: 25px;
}

.title {
  font-size: 35px;
  font-weight: 500;
}

.description {
  font-size: 25px;
  font-family: 'ClashGrotesk', sans-serif;
}

@media (min-width: 768px) {
  .title,
  .description {
    font-size: 45px;
  }
}
