.container_mobile,
.container_desktop {
  padding: 34px;
  display: flex;
  flex-direction: column;
}

.container_desktop {
  display: none;
}

.block {
  width: 100%;
  height: auto;
  margin-bottom: 28px;
}

.container_mobile h2,
.container_desktop h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--navy_blue);
  margin-bottom: 28px;
  font-weight: 800;
}

.description {
  font-size: 20px;
  text-align: center;
  margin-bottom: 41px;
  color: var(--navy_blue);
  font-family: 'ClashGrotesk', sans-serif;
}

.phone {
  width: 70%;
  height: auto;
  align-self: center;
  margin-bottom: 53px;
}

.feature_card {
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 49px;
  background-color: var(--white);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list,
.summary,
.total {
  padding: 0.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detail {
  display: flex;
  align-items: center;
}

.detail span {
  font-size: 15px;
  margin-right: 0.5rem;
}

.detail p,
.price {
  font-size: 13px;
  font-weight: 500;
}

.summary p {
  color: var(--gray);
  text-decoration: line-through;
}

.summary .price {
  color: red;
}

.total p {
  font-size: 16px;
  font-weight: 700;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple);
  border-radius: 20px;
  height: 60px;
  font-weight: 600;
  padding: 0px 20px;
  color: var(--white);
}

@media (min-width: 768px) {
  .container_mobile {
    display: none;
  }

  .container_desktop {
    display: block;
    padding: 0px;
  }

  .container_desktop h2 {
    font-size: 45px;
    text-align: left;
  }

  .content_and_image {
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content,
  .phone {
    width: 40%;
  }

  .block {
    width: 70%;
  }

  .description {
    font-size: 40px;
    text-align: left;
  }

  .cta_with_features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #d9efff;
  }

  .feature_card,
  .cta {
    width: 30%;
  }

  .title {
    font-size: 25px;
  }

  .detail span {
    font-size: 20px;
    margin-right: 1rem;
  }

  .detail p,
  .price {
    font-size: 18px;
  }

  .total span,
  .total p {
    font-size: 20px;
  }

  .cta {
    font-size: 22px;
  }
}
