.container {
  position: fixed;
  top: 0;
  z-index: 111;
  padding: 30px;
  width: 100%;
}

.scrolled {
  padding: 12px 30px;
  background-color: var(--black);
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40%;
  height: auto;
}

.cta_and_menu {
  display: flex;
  align-items: center;
}

.login {
  display: none;
  color: var(--black);
  margin-right: 1rem;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 48px;
  padding: 0px 1rem;
  border-radius: 10px;
  margin-right: 20px;
  font-weight: 500;
  background-color: var(--black);
  font-family: 'ClashGrotesk', sans-serif;
}

.scrolled .register {
  color: var(--black);
  background-color: var(--white);
}

.scrolled .login {
  color: var(--white);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line1,
.line2 {
  height: 2px;
  width: 24px;
  background-color: var(--black);
  transition: all 0.25s ease-in-out;
}

.scrolled .line1,
.scrolled .line2 {
  background-color: var(--white);
}

.line1 {
  margin-bottom: 8px;
}

.menu.open .line1 {
  transform: translateY(5px) rotate(-45deg);
}

.menu.open .line2 {
  transform: translateY(-5px) rotate(45deg);
}

@media (min-width: 768px) {
  .logo {
    width: 20%;
  }

  .login {
    display: block;
  }

  .register {
    margin-right: 0px;
  }

  .menu {
    display: none;
  }
}
