.container {
  background-image: url('/assets/hero-bg.png');
  background-size: cover;
  background-position: center;
}

.content_and_image {
  padding: 8rem 30px 30px 30px;
}

.content h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;
}

.description p {
  font-size: 25px;
  font-family: 'ClashGrotesk', sans-serif;
}

.description p:first-child {
  margin-bottom: 1rem;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  border-radius: 10px;
  height: 64px;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 3rem;
  color: var(--navy_blue);
  border: 1px solid var(--black);
  box-shadow: 4px 4px var(--black);
}

.cta svg {
  margin-left: 1rem;
}

.phone {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .content_and_image {
    padding: 8rem 4rem 4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    width: 50%;
  }

  .content h1 {
    font-size: 86px;
    margin-bottom: 2rem;
  }

  .description {
    display: none;
  }

  .phone {
    width: 40%;
  }

  .cta {
    height: 80px;
    font-size: 35px;
    width: 65%;
  }
}
