.container {
  display: flex;
  flex-direction: column;
  padding: 32px 0px;
  background-color: var(--white);
}

.container h2 {
  display: none;
}

.container p {
  color: var(--navy_blue);
}

.brick {
  width: 80%;
  height: auto;
}

.content,
.content3 {
  padding: 32px;
  margin-bottom: 1.5rem;
}

.title,
.mobile_title,
.desktop_title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--navy_blue);
}

.desktop_title,
.desktop_description {
  display: none;
}

.phones {
  width: 100%;
  height: auto;
  padding-left: 1rem;
}

.content2 {
  padding: 32px;
  text-align: right;
}

.upload {
  width: 100%;
  height: auto;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container h2 {
    display: block;
    font-size: 45px;
    color: var(--navy_blue);
    text-align: center;
    margin-bottom: 3rem;
  }

  .mobile_title,
  .mobile_description {
    display: none;
  }

  .desktop_title,
  .desktop_description {
    display: block;
  }

  .title,
  .desktop_title {
    font-size: 44px;
  }

  .description,
  .desktop_description {
    font-size: 18px;
  }

  .content_and_image {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .content_and_image:nth-child(3) {
    align-self: flex-end;
    flex-direction: row-reverse;
  }

  .brick,
  .phones,
  .upload {
    width: 45%;
  }
}
