.container {
  padding: 20px;
}

.container h1 {
  font-size: 30px;
  color: var(--navy_blue);
  margin-bottom: 2rem;
}

.money {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.username {
  font-size: 32px;
  color: var(--navy_blue);
  text-align: center;
}

.cta {
  color: var(--navy_blue);
  font-size: 19px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 40%;
    margin: 0 auto;
  }
}
